.footer-container {
    display: flex;
    justify-content: center;
    background-color: #dcd4fce0;
    font-weight: 700;
    color: #0f1228;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p > a {
    text-decoration: none;
}
